@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Poppins-Bold";
  font-weight: 400;
  src: url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");

  font-weight: 600;

  font-style: normal;
}
input {
  accent-color: #ff4d6e;
}

@font-face {
  font-family: "tatris";
  font-weight: 400;
  src: url("../public/fonts/Silkscreen-Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;
}
input {
  accent-color: #ff4d6e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(17 24 39);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #11182c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #090d18;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202c4e;
}

 {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

#lightings {
  bottom: -100px;
  position: fixed;
  width: 100%;
}

section {
  /*border-radius*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 100%;
  position: relative;
  margin: auto;
}

#one {
  /*animation*/
  -webkit-animation: one 5s ease-in-out infinite alternate;
  -moz-animation: one 5s ease-in-out infinite alternate;
  -ms-animation: one 5s ease-in-out infinite alternate;
  -o-animation: one 5s ease-in-out infinite alternate;
  animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes one {
  from {
    -webkit-box-shadow: 0 0 250px 20px #473c78;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@-moz-keyframes one {
  from {
    -moz-box-shadow: 0 0 250px 20px #473c78;
  }

  to {
    -moz-box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@-o-keyframes one {
  from {
    -o-box-shadow: 0 0 250px 20px #473c78;
  }

  to {
    -o-box-shadow: 0 0 100px 15px #f72a3b;
  }
}

@keyframes one {
  from {
    box-shadow: 0 0 250px 20px #473c78;
  }

  to {
    box-shadow: 0 0 100px 15px #f72a3b;
  }
}

#two {
  width: 90%;
  /*animation*/
  -webkit-animation: two 4s ease-in-out infinite alternate;
  -moz-animation: two 4s ease-in-out infinite alternate;
  -ms-animation: two 4s ease-in-out infinite alternate;
  -o-animation: two 4s ease-in-out infinite alternate;
  animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes two {
  from {
    -webkit-box-shadow: 0 0 250px 20px #18c499;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@-moz-keyframes two {
  from {
    -moz-box-shadow: 0 0 250px 20px #18c499;
  }

  to {
    -moz-box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@-o-keyframes two {
  from {
    -o-box-shadow: 0 0 250px 20px #18c499;
  }

  to {
    -o-box-shadow: 0 0 100px 15px #d8f05e;
  }
}

@keyframes two {
  from {
    box-shadow: 0 0 250px 20px #18c499;
  }

  to {
    box-shadow: 0 0 100px 15px #d8f05e;
  }
}

#three {
  width: 80%;
  /*animation*/
  -webkit-animation: three 3s ease-in-out infinite alternate;
  -moz-animation: three 3s ease-in-out infinite alternate;
  -ms-animation: three 3s ease-in-out infinite alternate;
  -o-animation: three 3s ease-in-out infinite alternate;
  animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes three {
  from {
    -webkit-box-shadow: 0 0 250px 20px #ffdd00;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-moz-keyframes three {
  from {
    -moz-box-shadow: 0 0 250px 20px #ffdd00;
  }

  to {
    -moz-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-o-keyframes three {
  from {
    -o-box-shadow: 0 0 250px 20px #ffdd00;
  }

  to {
    -o-box-shadow: 0 0 100px 15px #3e33ff;
  }
}

@keyframes three {
  from {
    box-shadow: 0 0 250px 20px #ffdd00;
  }

  to {
    box-shadow: 0 0 100px 15px #3e33ff;
  }
}

#four {
  width: 70%;
  /*animation*/
  -webkit-animation: four 2s ease-in-out infinite alternate;
  -moz-animation: four 2s ease-in-out infinite alternate;
  -ms-animation: four 2s ease-in-out infinite alternate;
  -o-animation: four 2s ease-in-out infinite alternate;
  animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes four {
  from {
    -webkit-box-shadow: 0 0 250px 20px #781848;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-moz-keyframes four {
  from {
    -moz-box-shadow: 0 0 250px 20px #781848;
  }

  to {
    -moz-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-o-keyframes four {
  from {
    -o-box-shadow: 0 0 250px 20px #781848;
  }

  to {
    -o-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}

@keyframes four {
  from {
    shadow: 0 0 250px 20px #781848;
  }

  to {
    shadow: 0 0 100px 15px #f2bbe9;
  }
}

#five {
  width: 60%;
  /*animation*/
  -webkit-animation: five 1s ease-in-out infinite alternate;
  -moz-animation: five 1s ease-in-out infinite alternate;
  -ms-animation: five 1s ease-in-out infinite alternate;
  -o-animation: five 1s ease-in-out infinite alternate;
  animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes five {
  from {
    -webkit-box-shadow: 0 0 250px 20px #42f2a1;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@-moz-keyframes five {
  from {
    -moz-box-shadow: 0 0 250px 20px #42f2a1;
  }

  to {
    -moz-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@-o-keyframes five {
  from {
    -o-box-shadow: 0 0 250px 20px #42f2a1;
  }

  to {
    -o-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}

@keyframes five {
  from {
    box-shadow: 0 0 250px 20px #42f2a1;
  }

  to {
    box-shadow: 0 0 100px 15px #f4f6ad;
  }
}

.TogglerDisplay {
  display: none;
}

.rotateonhover15 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotateonhover15:hover {
  --tw-rotate: -5deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotateonhover15text:hover {
  --tw-rotate: -1deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
